* {
    -fx-primary : #494e6b;
    -fx-primarytext : #B2B2B2;
    -fx-primary-hover : #555c6b;
    -fx-primary-border : #8793a9;

    -fx-secondary : #98878F;
    -fx-thrid : #985E6D;

    -fx-fourth : #192231;
    -fx-fourth-text : #B2B2B2;
    -fx-fourth-hover : #293c57;

    -fx-tableview-bg : rgba(134, 124, 214, 0.47);


}
.root
{
    -fx-background-color: linear-gradient(to bottom, rgba(123, 84, 105, 0.53), rgba(23, 15, 77, 0.72));
}

.list-view
{
    -fx-background-color: transparent;

}

.text-field{
    -fx-background-color: -fx-fourth;
    -fx-text-fill: -fx-fourth-text;
    -fx-font-size: 12pt;
    -fx-opacity: 0.4;
}

.button

{
    -fx-background-color: -fx-fourth;
    -fx-text-fill: -fx-fourth-text;
    -fx-font-size: 12pt;
    -fx-opacity: 0.4;
}

.button:hover
{
    -fx-background-color: -fx-fourth-hover;
    -fx-text-fill: -fx-fourth-text;
    -fx-font-size: 12pt;
    -fx-background-radius: 2px;
    -fx-rotate: 4;
}
.button:pressed
{
    -fx-rotate: 6;
}

.label
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 12pt;
}


.borderTopIcons
{
    -fx-background-color: transparent;
}

/**
Table View styling
 */
.table-view
{
    -fx-background-color: transparent;
}
.table-view:focused{
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view:row-selection
{
    -fx-background-color: transparent;
}
.table-row-cell{
    -fx-background-color: transparent;

}
.table-row-cell:hover
{
    -fx-background-color: linear-gradient(rgba(123, 84, 105, 0.62) 0%, -fx-thrid 100%);
    -fx-text-fill: -fx-primarytext;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(rgba(123, 84, 105, 0.62) 0%, -fx-thrid 100%);
    -fx-text-fill: -fx-primarytext;

}

.table-row-cell:selected {
    -fx-background-color:  linear-gradient(rgba(123, 84, 105, 0.62) 0%, -fx-thrid 100%);
    -fx-text-fill: -fx-primarytext;

}
.table-view .filler
{
    -fx-background-color: transparent;
}
.table-view.scroll-bar
{
    -fx-background-color:  linear-gradient(rgba(123, 84, 105, 0.62) 0%, -fx-thrid 100%);
}
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
/**
choice box
 */
.choice-box .context-menu { -fx-background-color: transparent;
    -fx-border-color: -fx-fourth;
}
.choice-box .menu-item:focused { -fx-background-color: -fx-primary;
    -fx-border-color: -fx-fourth;
    -fx-opacity: 0.5;}
.choice-box .menu-item > .label { -fx-text-fill: -fx-primarytext; }
.choice-box .menu-item:focused > .label { -fx-text-fill: -fx-primarytext; }
.choice-box {
    -fx-background-color: transparent;
    -fx-border-color: -fx-fourth;
    -fx-mark-color: -fx-fourth;
    -fx-opacity: 0.4;
}
.choice-box:hover
{
    -fx-background-color: -fx-fourth;
    -fx-border-color: -fx-fourth;
    -fx-mark-color: -fx-fourth;
    -fx-opacity: 0.1;
}

.choice-box > .label { -fx-text-fill: -fx-fourth; }

.jfx-slider > .track {
    -fx-background-color: -fx-secondary;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
    -fx-background-color: -fx-thrid;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
    -fx-background-color: -fx-thrid;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
    -fx-background-color: -fx-thrid;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
    -fx-fill: -fx-fourth;
    -fx-stroke: -fx-fourth;
}